joblib==1.5.1
numpy==2.3.1
pandas==2.3.1
PyMuPDF==1.26.3
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.1
scipy==1.16.0
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.5
joblib==1.5.1
numpy==2.3.1
pandas==2.3.1
pdfminer==20191125
pdfminer.six==20250506
pycparser==2.22
pycryptodome==3.23.0
PyMuPDF==1.26.3
python-dateutil==2.9.0.post0
pytz==2025.2
scikit-learn==1.7.1
scipy==1.16.0
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
